body {
	margin-left: 10%;
	background-color: #ffeeaa;
	direction:ltr;
	font-size: 24px;
	font-family: "Noto Serif"
}

div#topBar {
	width: 100%;
	position:fixed;
	top: 0px;
	left: 0px;
	font-size: 20px;
	background-color: rgba(255,249,202,0.8);
	padding-left: 1em;
}

div#topBar a {
	color: black;
	text-decoration: none;
}

div#topBar a:hover {
	color: gray;
	border: dotted;
	border-width: 1px;
	margin: -1px;
}

@media screen and (max-device-width: 480px) {
	body {
		font-size: 50px;
		background-color: #ffeeaa;
	}

	div#topBar {
		font-size: 45px;
	}
}

.hoverVisible {
	display:inline;
	color: rgba(0,0,0,0);
	background-color: #efde9e;
	margin: -1px;
	border-radius: 4px;
	border-style: outset;
	border-width: 2px;
}
.hoverVisible:hover {
	display:inline;
	color: rgba(0,0,0,0.25);
	background-color: rgba(239,222,158,0.75);
	cursor: pointer;
	filter: blur(5px);
}

@media print {
	body {
		font-size: 14px;
	}
	div#topBar {
		display:none;
	}
	.hoverVisible {
		color: rgba(0,0,0,0);
		background-color: rgba(0,0,0,0);
		border-radius: 0px;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid gray;
		border-style: dashed;
		width:100%;
	}
}

.bold {
	font-weight: bold;
}

hr {
	width: 70%;
	height: 1px;
	margin-bottom: 2em;
}

.underline {
	text-decoration: underline;
}

.monospace {
	font-family: "monospace";
}

#pa-letter {
	background-color: #f0f0f0;
	display: block;
	font-size: 2em;
}

.link {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}

table {
	border-style: solid;
	border-color: gray;
	border-top-width: 1px;
	border-right-width: 2px;
	border-bottom-width: 4px;
	border-left-width: 3px;
	border-collapse: collapse;
}

li {
	margin-top: 1px;
	margin-bottom: 1px;
}

th {
	background-color: #dadada;
	padding: 10px;
}

.dark {
	background-color: #dadada;
}

.darker {
	background-color: gray;
}

.leftborder {
	border-left: 1px gray solid;
}

td {
	background-color: #fafafa;
	padding: 10px 20px 10px 20px;  
}

.persian {
	direction:rtl;
}

.mark1 {
	background-color: aqua;	
}

.mark2 {
	background-color: yellow;
}

.mark3 {
	background-color: pink;
}


img.speakerIcon {
	width: 64px;
	height: 64px;
}

img.speakerIcon:hover {
	cursor:pointer;
}

img.youtubeLink,img.ddgImageLink {
	height: 1em;
	width: auto;
	vertical-align: middle;
}

