<!DOCTYPE html>
<html lang="fa">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8 ">
<title>دنمرکی</title>
<link rel="stylesheet" href="/fa-da/style.css" type="text/css" />
<script src="/fa-da/scripts/common.js"></script>
<script src="/fa-da/scripts/filter.js"></script>
<script src="/fa-da/scripts/tables.js"></script>
<script src="/fa-da/scripts/md.js"></script>
</head>
<body>

  <h1>At se = دیدن</h1>

<table data-type="verbTable" data-infinitive="at se" data-present="se_r_" data-simple-past="så" data-perfect-past="(har) se_t_" data-imperative="se" data-participle="se_ende_"></table>
  
<ul>
  <li>
	Jeg ser en fugl
	=
	<span class="persian">
	 من پرنده دا می‌بینم
	</span>
  </li>  
</ul>


<script type="text/javascript" src="/fa-da/scripts/verbTable.js" ></script>
</body>
</html>
